@import "~styles/variables.scss";

.sidebar {
    position: fixed;
    top: $nav-bar-height;
    height: calc(100% - #{$nav-bar-height});
    width: $sidebar-width;

    background-color: $sidebar-bg;

    h2 {
        color: $sidebar-color;
        font-size: 0.8em;
        text-transform: uppercase;
        border-bottom: $sidebar-border;
        padding-left: $gutter;
        padding-bottom: $gutter / 2;
        margin-top: $gutter * 2;
        margin-bottom: 0;
    }

    a {
        display: block;
        width: 100%;
        padding: $gutter;
        transition: .1s background-color;

        &:link, &:visited {
            color: lighten($sidebar-color, 30%);
            text-decoration: none;
        }

        &:hover {
            background-color: darken($sidebar-selected, 15%);
        }

        &.selected {
            background-color: $sidebar-selected;
            color: white;
        }
    }
}