<div class="sidebar">
    <h2>Libri</h2>
    <a routerLink="/books/to-sell" routerLinkActive="selected">Da vendere</a>
    <a routerLink="/books/to-buy" routerLinkActive="selected">Da acquistare</a>
    <a routerLink="/books/purchases-report" routerLinkActive="selected">Resoconto acquisti</a>
    <a routerLink="/books/sales-report" routerLinkActive="selected">Resoconto vendite</a>
    <h2>Profilo</h2>
    <a routerLink="/profile/account" routerLinkActive="selected">Account</a>
    <a routerLink="/profile/info" routerLinkActive="selected">Informazioni</a>
</div>