@import "~styles/variables.scss";
@import "~styles/forms.scss";

.onboarding-wrapper {
    margin-top: $nav-bar-height;
    padding: $gutter;
    display: block;
    width: 100%;
    text-align: center;
}

form {
    width: 50%;
    margin: auto;
}

button {
    width: 100%;
    border: 0;
    background-color: #007ACC;
    color: white;
    padding: $gutter / 2;
    border-radius: $gutter / 3;
    font-size: 1.2em;
    font-weight: 100;
    margin-top: $gutter;
    font-family: 'Lato', sans-serif;
    transition: background-color .2s;
    cursor: pointer;

    &:hover {
        background-color: darken(#007ACC, 5%);
    }

    &:focus {
        outline: none;
        background-color: darken(#007ACC, 10%);
    }

    &:disabled {
        background-color: grayscale(#007ACC);
        color: #aaa;
    }
}