<navbar [skipLogin]="true"></navbar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="card mt-6" #onboardingForm="ngForm">
                <div class="card-header">
                    <h1 class="card-title">Benvenuto su LoScambialibri.it!</h1>
                </div>
                <div class="card-body">
                    <h2 class="card-subtitle">Completa la procedura per confermare il tuo account</h2>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Nome</label>
                                <input class="form-control" type="text" [(ngModel)]="onboardingModel.firstName" required name="firstName">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Cognome</label>
                                <input class="form-control" type="text" [(ngModel)]="onboardingModel.lastName" required name="lastName">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Telefono/cellulare</label>
                                <input class="form-control" type="text" [(ngModel)]="onboardingModel.phone" required name="phone">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Indirizzo</label>
                                <input class="form-control" type="text" [(ngModel)]="onboardingModel.address" required name="address">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Città</label>
                                <input class="form-control" type="text" [(ngModel)]="onboardingModel.city" required name="city">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">CAP</label>
                                <input class="form-control" type="text" [(ngModel)]="onboardingModel.zipCode" required name="zipCode">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Provincia</label>
                                <input class="form-control" type="text" [(ngModel)]="onboardingModel.province" required name="province">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Scuola</label>
                                <select class="form-control custom-select" [(ngModel)]="school" required name="school" (ngModelChange)="onSelectSchool()">
                                    <option *ngFor="let s of schools" [ngValue]="s">{{s.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Specializzazione</label>
                                <select class="form-control custom-select" [(ngModel)]="specialization" required name="specialization" [disabled]="!school" (ngModelChange)="onSelectSpecialization()">
                                    <option *ngFor="let s of specializations" [ngValue]="s">{{s.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Classe</label>
                                <select class="form-control custom-select" [(ngModel)]="grade" required name="grade" [disabled]="!specialization">
                                    <option *ngFor="let g of grades" [ngValue]="g">{{g.year}}{{g.section}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" id="privacy-policy" [(ngModel)]="privacy" name="privacy" required>
                                    Acconsento l'<a href="/privacy-policy" target="_blank">Informativa sulla Privacy</a> riguardo all'utilizzo dei dai personali.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" (click)="submitOnboarding()">Completa l'account</button>
                </div>
            </form>
        </div>
    </div>
</div>
