<div class="form-container">
    <div class="form-wrapper">
        <h1>LoScambialibri.it</h1>
        <h2>Registrati ed entra nell'applicazione</h2>

        <form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
            <div class="input-container">
                <input type="email" placeholder="Indirizzo e-mail" [(ngModel)]="mail"  formControlName="mail" />
                <span class="error" *ngIf="signupForm.get('mail').invalid && signupForm.get('mail').touched">Inserisci il tuo indirizzo e-mail!</span>
            </div>

            <div class="input-container">
                <input type="password" placeholder="Password" [(ngModel)]="password"  formControlName="password" />
                <span class="error" *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched">Inserisci la password (minimo 5 caratteri)!</span>
            </div>

            <div class="input-container">
                <input type="password" placeholder="Ripeti password" [(ngModel)]="repeatPassword"  formControlName="repeatPassword" />
                <span class="error" *ngIf="signupForm.get('repeatPassword').invalid && signupForm.get('repeatPassword').touched || password !== repeatPassword">Inserisci la password inserita sopra!</span>
            </div>

            <div class="input-container input-container--blank">
                <label for="privacy-policy">
                    <input type="checkbox" id="privacy-policy" [(ngModel)]="privacy" formControlName="privacy" required>
                    Acconsento l'<a class="link--inline" href="/privacy-policy" target="_blank">Informativa sulla Privacy</a> riguardo all'utilizzo dei dati personali.
                </label>
                <span class="error" *ngIf="signupForm.get('privacy').invalid && signupForm.get('privacy').touched">È necessario accettare l'Informativa sulla Privacy per continuare!</span>
            </div>

            <button [disabled]="signupForm.touched && !signupForm.valid">Registrati</button>
            <a routerLink="/login">Hai già un account? Entra ora!</a>
        </form>
    </div>
</div>