<div class="privacy-policy">
    <h1>Privacy policy</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab magnam dolorum tempora. Ab deserunt expedita explicabo sed sapiente ducimus mollitia quos reiciendis laborum et, ex quae nobis iusto voluptates assumenda?</p>
    <p>Repellendus, consequatur eligendi illum beatae amet aperiam distinctio voluptatum magnam, aliquam praesentium voluptatem a consequuntur porro impedit optio dolorem itaque nam. Doloremque quaerat praesentium rem, tempore dolorum tempora aliquam sed?</p>
    <p>Dicta iusto laborum, id tempora, quasi obcaecati corrupti, rerum enim quas eius recusandae natus? Neque veniam repellendus, omnis in ab, tempore sapiente aperiam soluta modi aspernatur ipsum quae ea commodi.</p>
    <p>Quis dicta suscipit ipsum aperiam. Nostrum labore, hic non quia eligendi rem consectetur odit corporis consequatur eum dignissimos voluptatibus est iusto? Blanditiis eum incidunt nisi, unde exercitationem dolores nemo maiores.</p>
    <p>Eius nemo aperiam praesentium dicta eveniet possimus voluptatibus rerum expedita! Maxime accusamus saepe omnis est, corrupti odit unde harum dicta nostrum quidem aperiam vitae numquam, quis quod! Mollitia, esse autem?</p>
</div>