<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <!-- Logo -->
            <a href="/" class="header-brand">
                <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                LoScambiaLibri.it
            </a>

            <!-- Account -->
            <div class="d-flex order-lg-2 ml-auto">
                <!-- Notification list -->
                <!-- <div class="dropdown d-none d-md-flex">
                    <a class="nav-link icon" data-toggle="dropdown">
                        <i class="fe fe-bell"></i>
                        <span class="nav-unread"></span>
                    </a>
                </div> -->

                <!-- TODO: add notification list dropdown -->
                
                <!-- User badge -->
                <div class="dropdown">
                    <!-- TODO: add user avatar -->
                    <a class="nav-link pr-0 leading-none" data-toggle="dropdown">
                        <span class="ml-2 d-none d-lg-block">
                            <span class="text-default">{{user.firstName}} {{user.lastName}}</span>
                            <span class="text-muted d-block mt-1">{{user.mail}}</span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <!-- <a href="#" class="dropdown-item">
                            <i class="dropdown-icon fe fe-user"></i> Profilo
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="dropdown-icon fe fe-settings"></i> Account
                        </a> -->
                        <a class="dropdown-item">
                            Funzionalità in fase di sviluppo,<br />
                            per ogni modifica al profilo contattare<br />
                            <a href="mailto:info@loscambialibri.it" target="_blank">info@loscambialibri.it</a>.
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" (click)="logout()">
                            <i class="dropdown-icon fe fe-log-out"></i> Logout
                        </a>
                    </div>
                </div>
            </div>

            <!-- Toggler -->
            <a class="header-toggler d-lg-none ml-3 ml-lg-0" (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>

<!-- Header menu -->
<div class="header collapse d-lg-flex p-0" [ngClass]="{ 'show': isExpanded }">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

                    <!-- Books menu -->
                    <li class="nav-item">
                        <a routerLink="/books/to-sell" class="nav-link" data-toggle="dropdown">
                            <i class="fe fe-book-open"></i> Da vendere
                        </a>
                    </li>

                    <li class="nav-item">
                        <a routerLink="/books/to-buy" class="nav-link" data-toggle="dropdown">
                            <i class="fe fe-book-open"></i> Da acquistare
                        </a>
                    </li>

                    <!-- Reports menu -->
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <i class="fe fe-list"></i> Resoconti
                            <div class="dropdown-menu dropdown-menu-arrow">
                                <a routerLink="/books/purchases-report" routerLinkActive="selected" class="dropdown-item">Resoconto acquisti</a>
                                <a routerLink="/books/sales-report" routerLinkActive="selected" class="dropdown-item">Resoconto vendite</a>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>