<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}" (click)="onContainerClicked($event)">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Password dimenticata</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
            </div>

            <div class="modal-body">
                <p>Hai richiesto un cambio della password. Inserisci il tuo indirizzo e-mail, ti verrà inviato il link per aggiornare la tua password:</p>
                <form [formGroup]="modalForm" novalidate>
                    <div class="form-group">
                        <input type="email" class="form-control" [(ngModel)]="mail" formControlName="mail" placeholder="Indirizzo e-mail">
                    </div>
                </form>
                <p class="m-0">Cliccando sul link verrai indirizzato ad una pagina per aggiornare la tua password.</p>
            </div>

            <div class="modal-footer">
                <button (click)="cancel()" type="button" class="btn btn-secondary">Annulla</button>
                <button (click)="confirm()" type="button" class="btn btn-primary" [disabled]="!modalForm.valid">Richiedi cambio password</button>
            </div>
        </div>
    </div>
</div>