form {
    .fieldset {
        display: flex;
        margin-bottom: $gutter;

        .input-container {
            text-align: left;
            flex: 1;
            padding: 0 $gutter / 2;

            label {
                color: black;
                font-weight: 400;
                font-size: .8em;
            }

            input, select {
                margin-top: 3px;
                width: 100%;
            }

            p.error {
                font-weight: 400;
                color: #c00;
                margin: 0;
            }
        }

        &.center {
            justify-content: center;

            .input-container {
                text-align: center;
            }
        }
    }
}