$gutter: 15px;
$accent: #0074CF;

$nav-bar-height: 50px;

$sidebar-width: 250px;
$sidebar-bg: #2A2D33;
$sidebar-color: #757779;
$sidebar-selected: #656C7E;
$sidebar-border: 1px solid darken($sidebar-color, 15%);