<div class="page">
    <div class="page-main">
        <navbar></navbar>
        <confirmation-modal></confirmation-modal>
        <div class="my-3 my-md-5">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<!-- TODO: move footer to dedicated component -->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                <a href="mailto:info@barsantilab.it" target="_blank">Hai trovato qualche problema? Scrivici!</a>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                Copyright © 2018 <a href="http://loscambialibri.it" target="_blank">LoScambialibri.it</a>/<a href="http://www.barsantilab.it/" target="_blank">BarsantiLab</a> &bull; <a href="/privacy-policy" target="_blank">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>