$error-color: #A80303;
$warning-color: #C29F05;
$success-color: #009E00;

.alerts {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    .alert {
        background-color: rgba(#333, 0.6);
        border: 1px solid #333;
        font-size: 14px;

        color: white;
        padding: 15px;
        margin-top: 15px;
        cursor: pointer;
        min-width: 100px;

        &.alert-error {
            background-color: rgba($error-color, 0.6);
            border-color: $error-color;
        }

        &.alert-warning {
            background-color: rgba($warning-color, 0.6);
            border-color: $warning-color;
        }

        &.alert-success {
            background-color: rgba($success-color, 0.6);
            border-color: $success-color;
        }
    }
}