<navbar [skipLogin]="true"></navbar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="card mt-6" #passwordForm="ngForm">
                <div class="card-header">
                    <h1 class="card-title">Password dimenticata</h1>
                </div>
                <div class="card-body">
                    <h2 class="card-subtitle">Inserisci la tua nuova password:</h2>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="" class="form-label">Nuova password</label>
                                <input type="password" [(ngModel)]="passwordModel.password" name="password" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="" class="form-label">Ripeti nuova password</label>
                                <input type="password" [(ngModel)]="passwordModel.repeatPassword" name="repeatPassword" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-right">
                    <button class="btn btn-primary" (click)="submitNewPassword()">Conferma cambio password</button>
                </div>
            </form>
        </div>
    </div>
</div>