
<!-- <alert></alert> -->
<div class="page">
    <div class="page-main">
        <navbar></navbar>
        <!-- <sidebar></sidebar>
        <confirmation-modal></confirmation-modal> -->
        <router-outlet></router-outlet>

        <!-- TODO: move footer to dedicated component -->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                        Copyright © 2018 Scambialibri/<a href="http://www.barsantilab.it/" target="_blank">BarsantiLab</a>.
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>