<div class="card">
    <!-- HEADER -->
    <div class="card-header bg-primary text-white">
        <div class="container p-0 d-none d-lg-block">
            <div class="row no-gutters">
                <div class="col"><p class="lead m-0">{{data.book.author}}</p></div>
                <div class="col"><p class="lead m-0">ISBN</p></div>
                <div class="col-2"><p class="lead m-0 text-right">Stato trans.</p></div>
            </div>
            <div class="row no-gutters">
                <div class="col"><h3 class="m-0">{{data.book.title}}</h3></div>
                <div class="col"><h3 class="m-0">{{data.book.isbn}}</h3></div>
                <div class="col-2"><h3 class="m-0 text-right">{{data.status | transactionStatus}}</h3></div>
            </div>
        </div>
        <div class="container p-0 d-lg-none">
            <div class="row no-gutters">
                <div class="col"><p class="lead m-0">{{data.book.author}}</p></div>
            </div>
            <div class="row no-gutters">
                <div class="col"><h3 class="m-0">{{data.book.title}}</h3></div>
            </div>
            <div class="row no-gutters">
                <div class="col"><p class="lead m-0">Stato trans.</p></div>
            </div>
            <div class="row no-gutters">
                <div class="col"><h3 class="m-0">{{data.status | transactionStatus}}</h3></div>
            </div>
        </div>
    </div>

    <!-- SALES LIST -->
    <div class="card-body p-0 border-top-0" *ngIf="data.status === 'free'">
        <table class="table table-striped table-vcenter m-0">
            <tbody>
                <tr *ngFor="let sale of data.sales">
                    <td style="width: 20%">{{sale.user.firstName}} {{sale.user.lastName}}</td>
                    <td style="width: 20%">{{sale.status | transactionStatus}}</td>
                    <td style="width: 20%">{{sale.bookStatus | bookStatus}}</td>
                    <td style="width: 20%">{{sale.additionalMaterial ? 'Materiale addizionale fornito' : 'Nessun materiale addizionale'}}</td>
                    <td class="text-right">
                        <button class="btn btn-secondary btn-sm" [disabled]="sale.status !== 'free'" (click)="createTransaction(data, sale)">Contatta</button>
                    </td>
                </tr>

                <tr *ngIf="data.sales && data.sales.length === 0">
                    <td colspan="5">
                        <p class="text-center m-0">
                            Nessun libro disponibile al momento! Controlla periodicamente l'inserimento di nuovi libri nel circuito.
                        </p>
                    </td>
                </tr>

                <tr *ngIf="!data.sales">
                    <td colspan="5">
                        <p class="text-center m-0">
                            Nessun acquirente ti ha ancora contattato. Nel caso succedesse ti arriverà una notifica via e-mail.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- INFO BOX -->
    <div class="card-body border-top-0" *ngIf="data.status === 'pending' || data.status === 'notResponding' || data.status === 'inCompletion' || data.status === 'completed'">
        <div class="container p-0">
            <div class="row mb-2">
                <div class="col">
                    <h1 class="display-4 m-0">{{data.pairedUser.firstName}} {{data.pairedUser.lastName}}</h1>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <a [href]="'mailto:' + data.pairedUser.mail">{{data.pairedUser.mail}}</a>
                </div>

                <!-- <div class="col">
                    {{data.pairedUser.address}}, {{data.pairedUser.city}} ({{data.pairedUser.province}})
                </div> -->
            </div>

            <div class="row mb-2">
                <div class="col">
                    {{data.pairedUser.phone}}
                </div>

                <div class="col">
                    {{data.pairedUser.schoolName}}
                </div>
            </div>

            <div class="row" *ngIf="data.status !== 'completed'">
                <div class="col text-right">
                    <button class="btn btn-secondary btn-sm" (click)="cancelTransaction()" [disabled]="data.status === 'inCompletion'">Annulla</button>
                    <button class="btn btn-secondary btn-sm" (click)="reportNotResponding()" [disabled]="!data.notRespondingEnabled || data.status === 'notResponding' || data.status === 'inCompletion'">Non risponde</button>
                    <button class="btn btn-secondary btn-sm" (click)="completeTransaction()" [disabled]="data.transaction.isFirstComplete">Completato</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CHAT -->
    <div class="card-body card-body-chat bg-chat" *ngIf="data.status === 'pending' || data.status === 'notResponding' || data.status === 'completed'">
        <div class="container p-0">
            <div class="row" *ngIf="data.messages.length === 0">
                <p class="text-center m-0 w-100">
                    Scrivi il primo messaggio!
                </p>
            </div>

            <div class="row" *ngFor="let message of data.messages; last as isLast" [ngClass]="{ 'justify-content-end': message.sent, 'mb-2': !isLast }">
                <div class="col col-chat bg-white border rounded-chat p-3" [ngClass]="{ 'rounded-chat-sent': message.sent }">
                    <div class="row col m-0 p-0">
                        {{message.content}}
                    </div>
                    <div class="row col m-0 p-0 d-flex flex-row-reverse">
                        <span class="font-weight-light text-black-50"><small>{{message.date | chatDate }}</small></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CHAT BAR -->
    <div class="card-body border-top-0 p-2" *ngIf="data.status === 'pending' || data.status === 'notResponding'">
        <div class="d-flex p-0">
            <input class="form-control" type="text" [(ngModel)]="messageText" (keyup.enter)="sendMessage()" />
            <button class="btn btn-icon btn-success ml-2" (click)="sendMessage()"><i class="fe fe-send"></i></button>
        </div>
    </div>

    <!-- COMPLETED MESSAGE
    <div class="card-body border-top-0" *ngIf="data.status === 'completed'">
        <p class="text-center">La transazione è stata completata!</p>
    </div> -->
</div>
