:host {
    .bg-chat {
        background-color: #EEEEEE !important;
    }

    .rounded-chat {
        border-radius: 10px;
    }

    .col-chat {
        max-width: 500px;
    }

    .card-body-chat {
        max-height: 500px;
        overflow-y: scroll;
    }
}
