<div class="terms-and-conditions">
    <h1>Condizioni di utilizzo dell'applicazione Lo Scambialibri</h1>

    <p>L'utilizzo dei servizi di <b>Lo ScambiaLibri</b> è totalmente gratuito e richiede la registrazione.</p>

    <p>Anche se gli annunci vengono pubblicati automaticamente, <b>Lo ScambiaLibri</b> si riserva di controllare e rimuovere ogni inserzione che violi la legge o, più semplicemente, le regole di etica e di educazione, fatta salva la segnalazione alle autorità competenti per i casi di infrazioni più gravi.</p>

    <p><b>Lo ScambiaLibri</b> non si assume alcuna responsabilità sulla attendibilità delle liste dei libri inserite, delle inserzioni, e neppure per eventuali conseguenze dirette e indirette che possono derivare dalla non corrispondenza con la realtà dei dati contenuti nelle inserzioni. È comunque che vietata la trasmissione di informazioni e materiali che comportino violazione delle leggi o dei regolamenti vigenti.</p>

    <p>I dati contenuti negli annunci, forniti spontaneamente, non vengono conservati né trasmessi a terzi, vengono solo trattati temporaneamente (per un intervallo di 12 mesi, salvo esplicita richiesta dell'utente che desideri rimanere inserito nell'anagrafica per un periodo più lungo), nell'ambito dell'attività del sito, con il fine unico di fornire all'interessato i servizi connessi all'annuncio inserito.</p>

    <p>Per richiedere la cancellazione dei dati scrivere a: <a href="mailto:info@loscambialibri.it">info@loscambialibri.it</a>.</p>

    <p><b>Lo ScambiaLibri</b> non si occupa di alcuna transazione, né richiede alcuna forma di pagamento, si limita a gestire gli annunci cercando di ottimizzare i contatti tra domanda e offerta di libri usati: ogni transazione avviene direttamente tra privati, escludendo totalmente dalle trattative e dal loro esito <b>Lo ScambiaLibri</b> che non si assume quindi alcuna responsabilità per eventuali irregolarità o raggiri di qualsiasi natura.</p>

    <p><b>Lo ScambiaLibri</b> consiglia a tutti gli utenti di non eliminare e-mail o qualsiasi tipo di materiale e documentazione relativo alle varie transazioni in modo da poterli eventualmente utilizzare in caso di reclami e controversie derivanti dalle transazioni con altri utenti interessati. Eventuali controversie tra utenti non potranno in alcun caso coinvolgere <b>Lo ScambiaLibri</b>, nemmeno in funzione di composizione di liti o di arbitrato sulle medesime.</p>

    <p><b>Lo ScambiaLibri</b> suggerisce <b>di chiarire ogni eventuale dubbio</b> sui libri da scambiare direttamente con l'utente interessato allo scambio <b>prima di concludere l'accordo</b> in modo tale da evitare ogni incomprensione o lamentela anche da origini involontarie; consiglia anche di contattare sempre il venditore chiedendogli dettagli sui prodotti venduti.</p>

    <p>Ogni eventuale lamentela per eventuale malfunzionamento del sito può essere segnalata scrivendo a <a href="mailto:info@loscambialibri.it">info@loscambialibri.it</a>. Allo stesso indirizzo accoglieremo volentieri ogni eventuale commento riterrete utile inviarci.</p>
</div>