.book-table__legend {
    label.book-table__description {
        display: block;
        width: 100%;
        margin: 0;
    }

    span.book-table__text {
        font-size: 1.25em;
        font-weight: bold;
    }

    button {
        width: 100%;
    }

    @media (min-width: 991.98px) {
        button {
            max-width: 150px;
        }
    }

    @media (max-width: 991.98px) {
        .book-table__book-list {
            background-color: transparent;
            box-shadow: none;
            border: 0;

            .book-list__book-item {
                background-color: white;
                margin-bottom: 20px;
                border: 1px solid rgba(#002864, .12);
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
            }
        }
    }
}
