@import "~styles/variables.scss";

.filter {
    width: 100%;
    display: flex;

    input, select {
        flex: 1;
    }

    input {
        margin-right: $gutter;
    }
}

table {
    font-size: 14px;
    width: 100%;
    font-weight: 300;
    border-collapse: collapse;
    margin-top: 15px;
    border: 1px solid #ddd;

    td, th {
        padding: 15px;
        background-color: #fff;
        border-bottom: 1px solid #ddd;

        &.no-books {
            text-align: center;
        }

        select {
            min-width: 200px;
            padding: 5px;
        }

        button {
            width: 75px;
        }
    }

    tr:nth-child(odd) td {
        background-color: lighten($accent, 58%);
    }
}