<div class="filter">
    <input type="text" placeholder="Filtra per nome" [(ngModel)]="searchString" />
</div>
<table>
    <thead>
        <tr>
            <th>Titolo</th>
            <th>Autore</th>
            <th>Prezzo</th>
            <th>Stato</th>
            <th>Mat. agg.</th>
            <th>Azioni</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let book of books | book: searchString">
            <td>{{book.book.author}}</td>
            <td>{{book.book.title}}</td>
            <td>{{book.book.price | currency:'EUR':'symbol'}}</td>
            <td>
                <select *ngIf="!lockStatus" [(ngModel)]="book.status" [disabled]="book.toSell">
                    <option value="new">Nuovo</option>
                    <option value="pencilNotes">Note a matita</option>
                    <option value="penNotes">Note a penna</option>
                    <option value="badConditions">Cattive condizioni</option>
                </select>
                <!-- TODO: translate status (pipe?) -->
                <span *ngIf="lockStatus">{{ book.status }}</span>
            </td>
            <td>
                <input *ngIf="!lockStatus" type="checkbox" [(ngModel)]="book.additionalMaterial" [disabled]="book.toSell">
                <span *ngIf="lockStatus">Sì</span>
            </td>
            <td><button [disabled]="!book.status" (click)="buttonClicked(book)">{{ book.toSell ? altButtonLabel : buttonLabel}}</button></td>
        </tr>
        <!-- <tr *ngIf="(books | book: searchString).length === 0">
            <td colspan="4" class="no-books">
                <b>Nessun libro disponibile!</b>
            </td>
        </tr> -->
    </tbody>
</table>